section {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

img,
image-hover {
  border-radius: 10px;
  // width: 90%;
  // height: auto;
  outline: 2px solid red;
}

mat-divider {
  margin: 30px;
}

@media (max-width: 700px) {
  section {
    flex-direction: column;
  }
}
