<section>
  <present-type>
    <div class="present-description">
      <!-- GUTSCHEINE -->
      <h1>Gutscheine</h1>
      <p>
        Egal ob selbst gemachte, oder von einem Geschäft. Bevorzugt werden MTZ
        Gutscheine, Geld für Tattoos und Amazon Gutscheine
      </p>
    </div>
    <!-- <div class="present-image"> -->
    <image-hover class="present-image">
      <img src="assets/gutscheine.jpg" alt="" />
      <h1>Test</h1>
    </image-hover>
    <!-- </div> -->
  </present-type>

  <mat-divider></mat-divider>

  <present-type>
    <div class="present-description">
      <!-- SNACKS UND SÜßIGKEITEN -->
      <h1>Snacks und Süßigkeiten</h1>
      <p>
        Japanische KitKats (Matcha bevorzugt), Flaming Hot Cheetos, Tim Tams..
        Für weiteres, schreib mir einfach!
      </p>
    </div>
    <div class="present-image">
      <img src="assets/snacks-und-suesigkeiten.jpg" alt="" />
    </div>
  </present-type>
</section>

<!-- <div class="card-img-container">
      <img src="assets/gutscheine.jpg" alt="" />
		</div> -->

<!-- <div class="card-img-container">
      <img src="assets/snacks-und-suesigkeiten.jpg" alt="" />
    </div> -->
