<!-- GUTSCHEINE -->
<section>
  <div class="text">
    <h1>Gutscheine</h1>
    <p>
      Egal ob selbst gemachte, oder von einem Geschäft. Bevorzugt werden MTZ
      Gutscheine, Geld für Tattoos und Amazon Gutscheine
    </p>
  </div>

  <img src="assets/gutscheine.jpg" alt="" />
</section>

<mat-divider></mat-divider>
<!-- SNACKS UND SÜßIGKEITEN -->
<section>
  <div class="text">
    <h1>Snacks und Süßigkeiten</h1>
    <p>
      Japanische KitKats (Matcha bevorzugt), Flaming Hot Cheetos, Tim Tams.. Für
      weiteres, schreib mir einfach!
    </p>
  </div>
  <img src="assets/snacks-und-suesigkeiten.jpg" alt="" />
</section>
