<!-- GUTSCHEINE -->
<section>
  <h1>Gutscheine</h1>
  <p>
    Egal ob selbst gemachte, oder von einem Geschäft. Bevorzugt werden MTZ
    Gutscheine, Geld für Tattoos und Amazon Gutscheine
  </p>
  <img src="assets/gutscheine.jpg" alt="" />
  <mat-divider></mat-divider>
</section>

<!-- SNACKS UND SÜßIGKEITEN -->
<section>
  <h1>Snacks und Süßigkeiten</h1>
  <p>
    Japanische KitKats (Matcha bevorzugt), Flaming Hot Cheetos, Tim Tams.. Für
    weiteres, schreib mir einfach!
  </p>
  <img src="assets/snacks-und-suesigkeiten.jpg" alt="" />
</section>
