.all-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.present-description {
  display: flex;
  flex: 1;
  padding-right: 20px;

  // TODO
  // outline: black solid 3px;
}

.present-image {
  padding-left: 20px;
  flex: 1;

  //TODO
  // outline: black solid 3px;
}
