<div class="content">
  <!-- KIRBY -->
  <section class="upper">
    <div class="tinted-background"></div>
    <header>
      <h1>Xenia</h1>
      <p>Eine Website um herauszufinden, was für Geschenke ich mir wünsche.</p>
      <a
        href="https://www.youtube.com/watch?v=_4-MmsLKRDw&ab_channel=aboynamedtoni"
        target="_blank"
        color="accent"
        mat-raised-button
        >lol</a
      >
    </header>
  </section>

  <!-- LOWER CARDS -->
  <section class="lower">
    <!-- Serious Presents -->
    <mat-card>
      <a routerLink="/geschenke/ernste-geschenke">
        <image-hover>
          <img src="assets/ersnte-geschenke.jpg" alt="" />
          <h2>Ernste Geschenke</h2>
        </image-hover>
      </a>
    </mat-card>

    <!-- Presents for Fun -->
    <mat-card>
      <a routerLink="/geschenke/geschenke-zum-spass">
        <image-hover>
          <img src="assets/geschenke-zum-spass.jpg" alt="" />
          <h2>Geschenke zum Spaß</h2>
        </image-hover>
      </a>
    </mat-card>
  </section>
</div>
