<div class="content">
  <!-- KIRBY -->
  <section class="upper">
    <div class="tinted-background"></div>
    <header>
      <h1>Xenia</h1>
      <p>Eine Website um herauszufinden, was für Geschenke ich mir wünsche.</p>
      <a
        href="https://www.youtube.com/watch?v=_4-MmsLKRDw&ab_channel=aboynamedtoni"
        target="_blank"
        color="accent"
        mat-raised-button
        >lol</a
      >
    </header>
  </section>

  <!-- LOWER CARDS -->
  <section class="lower">
    <!-- Serious Presents -->
    <mat-card>
      <img src="assets/ersnte-geschenke.jpg" alt="" />
      <mat-card-content>
        <h2>Ernste Geschenke</h2>
      </mat-card-content>
      <a routerLink="/geschenke/ernste-geschenke" mat-fab color="primary">
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </mat-card>

    <!-- Presents for Fun -->
    <mat-card>
      <img src="assets/geschenke-zum-spass.jpg" alt="" />
      <mat-card-content> <h2>Geschenke zum Spaß</h2> </mat-card-content>
      <a routerLink="/geschenke/geschenke-zum-spass" mat-fab color="primary">
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </mat-card>
  </section>
</div>
