<!-- ANIME RELATED SACHEN -->
<section>
  <h1>Anime Related Sachen</h1>
  <p>
    Du weißt was ein Weeb ich bin. Frag mich am besten direkt, was genau ich
    möchte. Alternativ wird alles Hunter x Hunter related akzeptiert (duh).
  </p>
  <img src="anime-related-sachen.jpg" alt="" />
  <mat-divider></mat-divider>
</section>

<!-- AAMZON WISH LIST -->
<section>
  <h1>Amazon Wish List</h1>
  <p>Dort findest du jeden Scheiß. Klick auf das Bild für mehr.</p>
  <img src="amazon-wishlist.jpg" alt="" />
  <a
    color="accent"
    mat-raised-button
    href="https://www.amazon.de/hz/wishlist/ls/35YJDVH0E5LR7?ref_=wl_share"
    target="_blank"
    >Wish List</a
  >
</section>
